<%= link_to(
  new_note_path,
  class: %w[btn btn-primary],
  data: { turbo_frame: dom_id(Note.new) }
) do %>
  <i class="bi bi-journal-text"></i>
  <span>New note</span>
<% end %>
<%= turbo_frame_tag(Note.new) %>
<div id="notes" class="d-grid py-3 gap-3">
  <%= render(@notes) %>
</div>
