<%= form_with(
    model: content,
    html: { class: %w[form-inline] }
  ) do |f| %>
  <div class="input-group">
    <%= f.text_field(:url, class: %w[form-control], placeholder: "URL", autocomplete: "off") %>
    <%= f.button(class: %w[btn btn-primary]) do %>
      <i class="bi bi-plus-lg"></i>
    <% end %>
  </div>
<% end %>
